*{
	margin: 0;
	padding: 0;
}
.container{
	width: 1070px;
	margin-left: 80px;
}
header {
	background-color: #787878;
	height: 100px;

}
header nav ul .logo{
	width: 150px;
	margin-left:0px; 
}
header nav ul li{
	list-style-type: none;
	display: inline-block;
	margin-left: 90px;
	
}
header nav ul li a{
	color: white;
	font-size: 30px;
	line-height: 20px;
	text-decoration: none;
	text-transform: uppercase;
}
.intro{
	background: linear-gradient(rgba( 0,0,0,.7 ), rgba(0,0,0,.7)), url(../img/2.jpg);
	height: 700px;
	padding-top: 200px;
}
.intro h2{
	color: white;
	font-size: 25px;
	text-transform: uppercase;
	/*text-align: center;*/
	width: 351px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	padding: 10px 0px;
	margin-left: 35%;
}
.intro2 {
		background-color: #eee;
		padding: 50px 0;
}
.intro2 .article1{
 display: inline;
 width: 400px;
}
.intro2 .article1 p{
	width: 400px;
}
.intro2 .aside{
	display: inline;
	float: right;
	width: 400px;
	margin-left: 50px;
	line-height: 40px;
	margin-top: -146px;
}
footer{
	/*margin-top: 100px;*/
	background-color: #787878;
	height: 100px;
	color: white;
}
footer h6{
	font-size: 20px;
	text-align: center;
	line-height: 100px;
}
footer h6 span{
	color: #c21522;
	border-right: 3px solid #c21522 ;
	padding-right: 10px;
	margin-right: 20px;
}
.cards{
	margin: 100px 0;
}
.cards .container .card{
	display: inline-block;
	width: 300px;
	border: 2px solid #aba2a2;
	padding: 10px;
	margin-right: 20px;
}
.cards .container .card .img-card{
	width: 270px;
}
.cards .container .card .img-card img{
	width: 100%;
	margin-top: 15px;
	margin-left: 15px;
	/*border-radius: 50px 30px;*/
	border-top-left-radius:40px;
	border-bottom-right-radius: 40px;                  	
}
.cards .container .card .card-body{
	margin-left: 15px;
}
.cards .container .card .card-body h5{
	font-size: 20px;
	margin:15px 0;
}
.cards .container .card .card-body p{
	color: #2c2525;
}
.card-v{
	margin: 100px 0;

}
 .card-v .container .card{
 	width:550px;
 	border: 2px solid #aba2a2;
 	padding: 10px;

 }
  .card-v .container .card .img-card{
  	width: 250px;
  	display: inline-block;
  	float: left;
  	/*position: fixed;*/

  }
  .card-v .container .card .img-card img{
  	width: 100%;
  	border-radius: 50%;
  }  
  .card-v .container .card .card-body{
  	width: 270px;
  	display: inline-block;
  	margin-left: 20px;
  	margin-bottom: 20px;
  	padding-top: 30px;
  }  
  .card-v .container .card .card-body h5{
  	font-size: 18px;
  	margin-bottom: 10px;
  	font-weight: bold;
  	text-transform: uppercase;
  }  
   .card-v .container .card .card-body p{
   	color: #2c2525;
   } 
.demo {
	background-color: #eee;
	height: 600px;
}
.demo .btn{
	width: 100px;
	height: 40px;
	background-color: #6a6a6a;
	color: white;
	border: 0;
	transition: all 1.5s;
}
.demo .text-demo{
	margin: 30px 0;
	display: none;
}  
.demo .btn:hover{
	background-color: #e6e6e6;
	border: 1px solid black;
	color: black;
}
.demo .btn:hover .text-demo{
	display: block;
}
.test-float{
	background-color: black;
	color: white;
}
.test-float .one{
	width: 30%;
	background-color: yellow;
	float: left;
}
.test-float .two{
	width: 30%;
	background-color: green;
	float: left;
}
.test-float .last{
	width: 30%;
	background-color: red;
	float: left;
}
.test-postion{
	position: relative;
	margin:30px;
	height: 400px;
}
.test-postion .postion-left{
	position: absolute;
	left: 0;
	top: 50%;
}
.test-postion .postion-right{
	position: absolute;
	right: 0;
	top: 50%;
}
.test-postion .postion-top{
	position: absolute;
	top: 0;
	left: 50%;
}
.test-postion .postion-bottom{
	position: absolute;
	bottom: 0;
	left: 50%;
}
.div-text{
	width: 300px;
	height: 50px;
	overflow: scroll;
}
.bac{

	background: url(../img/011.jpg) fixed center no-repeat ;
	min-height: 600px;
	/*background-repeat: no-repeat;*/
	background-size: cover;
}   
.social{
	width: 50px;
	background-color: black;
	color: white;
	position: fixed;
	top: 50%;
	left: 0;
}