*{
	margin: 0;
	padding: 0;
}
.container{
	width: 1070px;
	margin-left: 80px;
	display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* Orientation: Portrait / Landscape */
@media only screen and (orientation: landscape) {
   
}
.card {
	position: relative;
	width: 300px;
	overflow: hidden;
}
.card img{
	width: 300px;
}
.card .ovarlay{
	position: absolute;
	width: 0px;
	height: 300px;
	background-color:rgba(0 , 0 ,0 ,.7);
	top: 0;
	transition: all .7s ;
}
.card .ovarlay button{
	position: absolute;
	bottom: 30%;
	right: 30%;
	transition: all .1s;
	background-color: #eee;
	border-radius: 5px;
	border: 1px solid white;
	padding: 10px;
	display: none;
}
.card:hover .ovarlay{
	width: 300px;
}
.card:hover button{
	display: block;

}

.team .d-flex {
	display: flex;
	justify-content: space-between;
}
.content-link{
	text-align: center;
	padding-top: 30px;
}
.content-link a{
	width: 150px;
	height: 40px;
	background-color: #6a6a6a;
	padding: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}